<body>

    <div class="header">
      <a  class="logo">ANI BOOKMARK</a>
      <div class="header-right">
        <a href="#home"><i class="fa fa-home"></i> HOME</a>
        <a href="#category"><i class="fa fa-navicon"></i> CATEGORY</a>
        <a href="#business"><i class="fa fa-bookmark"></i> LIST BUSINESS</a>
        <a href="#bookmark"><i class="fa fa-bookmark"></i> ADD BOOKMARK</a>
        <a [routerLink]="['/registration']"><i class="fa fa-lock"></i> RESISTER</a>
        <a class="active" [routerLink]="['/login']"><i class="fa fa-sign-in"></i> LOGIN</a>
      </div>
    </div>
 
</body>